DATABASE_URL=postgresql://neondb_owner:npg_0wFjf9yHsbaQ@ep-broad-term-an5e5p74-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=yana_banana_16081994_maks_16051992_matthew_10232023
JWT_EXPIRES_IN=7d
PORT=3001
ALLOWED_ORIGIN=http://localhost:5173
s